/* .custom-navbar {
    background: linear-gradient(to right, #040F28, #fd5d14);
    height: 97px;
  }
  
  .custom-icon {
    color: #fd5d14;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 2rem; /* Adjust size as needed 
  }
  
  .navbar-brand-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 32px; /* Customize size 
  }
  
  .custom-navbar-collapse {
    padding-left: 44px;
    padding-right: 44px;
  }
  
  .quote-button-dropdown {
    background: #fd5d14;
    color: white;
    border-radius: 0;
  }
   */